extends layouts/main
block active-item
    - nav.menu['Главная']['active'] = 1
block seo
    meta(name='description', content='#{seo.description}')
    meta(name='keywords', content='#{seo.keywords}')
    title #{seo.title}
block content
    // START #main
    #main
        .container
            .col-md-12.text-center
                .hidden-xs
                    h1.pageTitle Аренда спецтехники
                    p.mrg2.lead Наша компания располагает богатым автопарком спецтехники: экскаваторы, автокраны, фронтальные погрузчики, бортовые автомобили, длинномеры, бульдозеры, тралы, автовышки и др.

                ul#filter.clearfix
                    li.current: a(rel='all', href='#') Вся техника
                    li: a(rel='stroitelnaja-tehnika', href='#') Строительная
                    li: a(rel='gruzopodemnaja-tehnika', href='#') Грузоподъемная
                    li: a(rel='gruzovoj-transport', href='#') Грузовой автотранспорт

                .customRow
                    ul#portfolio.clearfix
                        each category in categories
                            li.all(class='#{category.category.url}')
                                a(href='category/#{category.url}')
                                    img(src='img/icons/#{category.image}')
                                    span #{category.title}
    // END #main
    // START .widget-2
    section.widget-2
        .container
            h2.title Сыпучие материалы
            .customRow
                ul#material.clearfix
                    li: a(href='page/pesok-shheben-beton')
                        img.img-circle(src='img/material/pesok.jpg')
                        span Песок
                    li: a(href='page/pesok-shheben-beton')
                        img.img-circle(src='img/material/shheben.jpg')
                        span Щебень
                    li: a(href='page/pesok-shheben-beton')
                        img.img-circle(src='img/material/beton.jpg')
                        span Бетон
    // END .widget-1
    // START .widget-1
    section.widget-1
        .inner
            h2.title Выгодные условия сотрудничества
            .grid-1.clearfix
                .item
                    span 1
                    p Большой парк<br /> собственной техники
                .item
                    span 2
                    p Быстрая замена<br /> в случае поломки
                .item
                    span 3
                    p Свой штат<br /> опытных механиков
    // END .widget-1
    // START .slider
    section.slider.hidden-xs
        .container
            #bsCarousel.carousel.slide(data-ride='carousel')
                .carousel-inner
                    .item.active: .row
                        .col-sm-4
                            img(src='img/slider-1.jpg', alt='Аренда строительной техники в Ярославле')
                        .col-sm-8
                            h3.subTitle Аренда строительной техники в Ярославле
                            p На сегодняшний день многие отрасли деятельности человека связаны с применением той или иной строительной спецтехники. Однако, стоит отметить, что содержать собственный автопарк для многих, даже крупных компаний, экономически не рентабельно. К тому же, часто отдельные типы машин (гидромолоты, автоплатформы, автовышки, буровые установки) используются только для разовых работ. Поэтому в данном случае лучшим выходом из ситуации становится аренда строительной техники.
                            p Воспользовавшись услугой аренды в компании «ГлобалТехноСтрой», вы не будете беспокоиться о том, как продолжить начатые работы, как не подвести своих партнеров и не упустить выгодную сделку. Вам нужно лишь позвонить или сделать заказ на сайте, и нужная спецтехника будет оперативнодоставлена по указанному адресу. Вся наша поставляемая в аренду спецтехника управляется опытными машинистами с большим стажем работы.
                    .item: .row
                        .col-sm-12
                            h3.subTitle Аренда спецтехники на выгодных условиях и на любой срок
                            p Услуги спецтехники предоставляются на длительное время, для работ в дневные и ночные смены. Компания «ГлобалТехноСтрой» заинтересована в длительном взаимовыгодном сотрудничестве, поэтому, если ваши работы не укладываются в сроки аренды спецтехники из-за форс-мажорных обстоятельств, мы готовы продлить время действия договора аренды строительной техники.
                            p Наша компания владеет большим парком, в котором представлены различные типы техники: авторканы, экскаваторы, погрузчики, самосвалы, автовышки, буровые установки, гидромолоты, бетономиксеры и бетононасосы, грейдеры, траншеекопатели, длинномеры и бортовой транспорт, а также дорожные катки. Налаженные партнерские отношения с фирмами-производителями оборудования позволяют найти любую, даже узкоспециализированную, технику. Не сомневайтесь в том, что сможете воспользоваться услугами спецтехники, причем, именно той, которая больше всего отвечает вашим требованиям.
                            p Все единицы нашего автопарка произведены известными компаниями, что гарантирует высокое качество и производительность. Спецтехника предоставляется в аренду заказчику в отличном состоянии, полностью укомплектованная всем необходимым. Перед каждым выходом на смену проводится тщательный осмотр нашими высококвалифицированными специалистами. Это позволяет избежать незапланированных простоев и выполнить запланированную работу точно в срок. Вся арендуемая спецтехника регулярно, по регламенту проходит техосмотры и необходимое сервисное обслуживание.
                    .item: .row
                        .col-sm-12
                            h3.subTitle Воспользоваться услугами аренды спецтехники может любой
                            p Аренда строительной техники выгодна не только для крупных и самостоятельных компаний, но и для частных лиц. Нередко на приусадебном участке бывает нужно вырыть котлован для фундамента дома, пробурить скважину или вывезти большой объем мусора. Воспользовавшись услугами аренды спецтехники в нашей компании, вы сможете выполнить эти работы не только быстро, но и качественно, затратив на это минимальное количество времени и ресурсов. Оплата услуг может производиться по наличному и безналичному расчету.
                            p Более подробную консультацию вы можете получить у наших профессиональных специалистов, позвонив в любое удобное для вас время. С нами аренда спецтехники – простое дело.
                ol.carousel-indicators
                    li.active(data-target='#bsCarousel', data-slide-to='0')
                    li(data-target='#bsCarousel', data-slide-to='1')
                    li(data-target='#bsCarousel', data-slide-to='2')
    // END .slider
block body_child
    #modalMachinery.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
        .modal-dialog.modal-lg
            .modal-content

    #modalOrder.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content