extends layouts/main
block active-item
  - nav.menu['Главная']['active'] = 1
block seo
  meta(name='description', content='#{seo.description}')
  meta(name='keywords', content='#{seo.keywords}')
  title #{seo.title}
block content
  // START #main
  #main
    .container
      .col-md-12.text-center
        .hidden-xs
          h1.pageTitle Аренда спецтехники
          p.mrg2.lead Наша компания располагает богатым автопарком спецтехники: экскаваторы, автокраны, фронтальные погрузчики, бортовые автомобили, длинномеры, бульдозеры, тралы, автовышки и др.

        ul#filter.clearfix
          li.current: a(rel='all', href='#') Вся техника
          li: a(rel='stroitelnaja-tehnika', href='#') Строительная
          li: a(rel='gruzopodemnaja-tehnika', href='#') Грузоподъемная
          li: a(rel='gruzovoj-transport', href='#') Грузовой автотранспорт

        .customRow
          ul#portfolio.clearfix
            each category in categories
              li.all(class='#{category.category.url}')
                a(href='category/#{category.url}')
                  img(src='img/icons/#{category.image}')
                  span #{category.title}
  // END #main
  // START .widget-2
  section.widget-2
    .container
      h2.title Сыпучие материалы
      .customRow
        ul#material.clearfix
          li: a(href='page/pesok')
            img.img-circle(src='img/material/pesok.jpg')
            span Песок
          li: a(href='page/sheben')
            img.img-circle(src='img/material/shheben.jpg')
            span Щебень
          li: a(href='page/beton')
            img.img-circle(src='img/material/beton.jpg')
            span Бетон
  // END .widget-1
  // START .widget-1
  section.widget-1
    .inner
      h2.title Выгодные условия сотрудничества
      .grid-1.clearfix
        .item
          span 1
          p Большой парк<br /> собственной техники
        .item
          span 2
          p Быстрая замена<br /> в случае поломки
        .item
          span 3
          p Свой штат<br /> опытных механиков
  // END .widget-1
  if slider.length
    // START .slider
    section.slider.hidden-xs
      .container
        #bsCarousel.carousel.slide(data-ride='carousel')
          .carousel-inner
            each slide, index in slider
              div(class='item#{(!index)?" active":""}')
                .row
                  != slide
          ol.carousel-indicators
            each slide, index in slider
              li(class='#{(!index)?"active":""}', data-target='#bsCarousel', data-slide-to='#{index}')
    // END .slider
block body_child
  #modalMachinery.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content

  #modalOrder.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content