.meadiHolder
  #carousel.carousel.slide.c-fade(data-ride='carousel')
    .carousel-inner
      if (nav.menu['Главная']['active'])
        .active.item
          picture
            source(src='img/slide10_small.jpg', media='(max-width: 768px)')
            source(src='img/slide10.jpg')
            img(src='img/slide10.jpg', alt='Тралы')
          .carousel-caption.hidden-xs(style='margin-left: 15%')
            a(href='/category/traly')
              .description: span Перевозка негабаритного груза — 13 000
              div
                .price Ширина негабаритного груза до 4м,<br>собственная машина сопровождения!
        .item
          picture
            source(src='img/slide7_small.jpg', media='(max-width: 768px)')
            source(src='img/slide7.jpg')
            img(src='img/slide7.jpg', alt='Автокран Клинцы 25 тонн')
          .carousel-caption.hidden-xs
            .badge.hidden-xs Акция
            a(href='machinery/ks-55713-1k-4-klinci', data-toggle='modal', data-target='#modalMachinery')
              .description.hidden-sm: span Специальная цена
              h3 Автокран "Клинцы" 25 тонн
              div
                .price <strike>1500</strike> 1400 <span>руб/час</span>
                .order Оставить заявку
        .item
          picture
            source(src='img/slide8_small.jpg', media='(max-width: 768px)')
            source(src='img/slide8.jpg')
            img(src='img/slide8.jpg', alt='Подъемник ножничный Haulotte Compact 10N')
          .carousel-caption.hidden-xs
            .badge.hidden-xs Акция
            a(href='machinery/haulotte-compact-10-n', data-toggle='modal', data-target='#modalMachinery')
              .description.hidden-sm: span Специальная цена
              h3 Haulotte Compact 10N
              div
                .price <strike>2300</strike> 2000 <span>руб/сутки</span>
                .order Оставить заявку
        .item
          picture
            source(src='img/slide6_small.jpg', media='(max-width: 768px)')
            source(src='img/slide6.jpg')
            img(src='img/slide6.jpg', alt='Погрузчик JCB 3CX')
          .carousel-caption.hidden-xs
            a(href='machinery/jcb-3cx', data-toggle='modal', data-target='#modalMachinery')
              .description.hidden-sm: span Специальная цена
              h3 Погрузчик JCB 3CX
              div
                .price 1250 <span>руб/час</span>
                .order Оставить заявку
        .item
          picture
            source(src='img/slide2_small.jpg', media='(max-width: 768px)')
            source(src='img/slide2.jpg')
            img(src='img/slide2.jpg', alt='Строительство спорткомплекса')
          .carousel-caption.hidden-xs
            .description.hidden-sm: span Аренда строительной техники
            h3 ГТС ГлобалТехноСтрой
        .item
          picture
            source(src='img/slide9_small.jpg', media='(max-width: 768px)')
            source(src='img/slide9.jpg')
            img(src='img/slide9.jpg', alt='Экскаватор JCB 220')
          .carousel-caption.hidden-xs
            a(href='#')
              .description.hidden-sm: span Продажа экскаватора
              h3 Экскаватор JCB 220
              div
                .price 2 550 000 <span>руб</span>
                //.order Оставить заявку
      else
        .active.item
          picture
            source(src='img/sub1_small.jpg', media='(max-width: 768px)')
            source(src='img/sub1.jpg')
            img(src='img/sub1.jpg', alt='ГТС ГлобалТехноСтрой')
.myForm.clearfix
  input#autocomplete-dynamic(type='text', placeholder='Поиск по базе из #{machineryCount} ед. спецтехники', name='country')
  .btn-group.btn-group-lg.dropup
    - links = [{href: 'http://gts76.ru', title: 'Ярославль'}, {href: 'http://ivanovo.gts76.ru', title: 'Иваново'}, {href: 'http://kostroma.gts76.ru', title: 'Кострома'}, {href: 'http://vladimir.gts76.ru', title: 'Владимир'}, {href: 'http://vologda.gts76.ru', title: 'Вологда'}]
    each link in links
      if link.href == hostname
        button.btn.btn-primary #{link.title}
    button.btn.btn-primary.dropdown-toggle(data-toggle='dropdown'): span.caret
    ul.dropdown-menu(role='menu')
      each link in links
        li: a(href='#{link.href}#{url ? url : "/"}') #{link.title}
if (nav.menu['Главная']['active'])
  .slideHolder
    a.scrollTo(href='#content'): i.fa.fa-angle-down