// START Top Navbar
nav#headMenu.navbar.navbar-default(role='navigation')
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
      i.fa.fa-bars
  #navbar-collapse-1.collapse.navbar-collapse
    .pages
      ul.list-inline
        li: a(href='#{hostname}/page/o-kompanii') О компании
        li: a(href='#{hostname}/page/sotrudnichestvo') Сотрудничество
        li: a(href='#{hostname}/page/kontakty') Контакты
        li: a.text-danger(href='#{hostname}/doc/gts-dogovor.pdf', style='text-decoration:none', target='_blank')
          | &nbsp;
          i.fa.fa-file-text-o.fa-lg
          | &nbsp;Бланк договора
    ul.nav.navbar-nav
      +build-menu-items(nav.menu)
      li: a(href='#{hostname}/page/pesok-shheben-beton') Песок, щебень, бетон
// END Top Navbar